{% extends 'layout.html' %}

{% block title %}Image Detail{% endblock title %}

{% block body %}

<div class="container pp-section">
  <div class="h3 font-weight-normal">{{ImageDetail.title}}</div><img class="img-fluid mt-4"
  src="/{{ImageDetail.image}}" />
  <div class="row mt-5">
    <div class="col-md-3">
      <div class="h5">Tags</div>
      <div id="Mytags{{ImageDetail.sno}}"></div>
      <script>
        var tags = '{{ImageDetail.tags}}'
        tags = tags.split(',')
        Array.from(tags).forEach((tag)=>{
          tag = tag.replace(' ', '')
          document.getElementById('Mytags{{ImageDetail.sno}}').innerHTML += `<a class="mr-1 badge badge-primary text-uppercase" href="#${tag}">${tag}</a>`
        })
      </script>
      <div class="h5 pt-4">Posted</div>
      <p>
        {{ImageDetail.timeStamp}}
      </p>
    </div>
    <div class="col-md-9">
      <p style="word-spacing: 5px;line-height: 2rem;">{{ImageDetail.desc}}<p>
      </div>
  </div>
</div>
{% endblock body %}