{% extends 'layout.html' %}

{% block title %}{% endblock title %}
{% load humanize %}

{% block body %}
<div class="pp-section pp-container-readable">
  {% for post in posts %}

  <article class="pp-post"><a href="blog-post.html"><img class="img-fluid" src="/{{post.image}}" alt="Blog Image" /></a>
    <header class="pp-post-header">
      <div class="pp-post-title"><a class="h4" href="/blog/blogpost/{{post.slug}}">{{post.title}}</a></div>
      <div class="pp-post-meta">
        <ul>
          <li>
            <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
            <span>{{post.timeStamp|naturalday}}</span>
          </li>
          <span><i class="fa fa-tags" aria-hidden="true"></i></span>
          <span id="PostTags{{post.sno}}" class="text-capitalize"></span>
          <script>
            var tags = '{{post.tags}}'
            tags = tags.split(',')
            if (tags.length >= 3) {
              document.getElementById('PostTags{{post.sno}}').innerHTML += `<a href="/blog/blogpost/{{post.slug}}"><span>${tags[1]}</span></a>,`
              document.getElementById('PostTags{{post.sno}}').innerHTML += `<a href="/blog/blogpost/{{post.slug}}"><span>${tags[2]}</span></a>`
            }
            else {
              document.getElementById('PostTags{{post.sno}}').innerHTML += `<a href="/blog/blogpost/{{post.slug}}"><span>${tags[0]}</span></a>,`
              document.getElementById('PostTags{{post.sno}}').innerHTML += `<a href="/blog/blogpost/{{post.slug}}"><span>${tags[1]}</span></a>`
            }
          </script>
          </li>
          <li><i class="fa fa-comments" aria-hidden="true"></i><a href="/blog/blogpost/{{post.slug}}">Comments</a></li>
        </ul>
      </div>
    </header>
    <div class="pp-post-content">
      <p>{{post.shortdesc}}
      </p>
    </div>
    <div class="pp-post-read-more"><a href="/blog/blogpost/{{post.slug}}">Read More</a></div>
  </article>

  {% endfor %}

  <div class="pp-pagination">
    <ul>
      <li><a href="#">← Previous</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">Next →</a></li>
    </ul>
  </div>
</div>

{% endblock body %}