{% extends 'layout.html' %}

{% block title %}{% endblock title %}
{% load humanize %}
{% load extras %}

{% block body %}
<div class="pp-section pp-container-readable">
  <div class="pp-post"><a class="h3" href="#">{{post.title}}</a>
    <div class="pp-post-meta mt-2">
      <ul>
        <li>
          <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
          <span>{{post.timeStamp|naturalday}}</span>
        </li>
        <span><i class="fa fa-tags" aria-hidden="true"></i></span>
        <span id="PostTags{{post.sno}}" class="text-capitalize"></span>
        <script>
          var tags = '{{post.tags}}'
          tags = tags.split(',')
          if (tags.length >= 3) {
            document.getElementById('PostTags{{post.sno}}').innerHTML += `<a href="/blog/blogpost/{{post.slug}}"><span>${tags[1]}</span></a>,`
            document.getElementById('PostTags{{post.sno}}').innerHTML += `<a href="/blog/blogpost/{{post.slug}}"><span>${tags[2]}</span></a>`
          }
          else {
            document.getElementById('PostTags{{post.sno}}').innerHTML += `<a href="/blog/blogpost/{{post.slug}}"><span>${tags[0]}</span></a>,`
            document.getElementById('PostTags{{post.sno}}').innerHTML += `<a href="/blog/blogpost/{{post.slug}}"><span>${tags[1]}</span></a>`
          }
        </script>
        </li>
        <li><i class="fa fa-comments" aria-hidden="true"></i><a href="/blog/blogpost/{{post.slug}}">Comments</a></li>
      </ul>
    </div><img class="img-fluid mt-3" src="/{{post.image}}" alt="Blog Image" />
  </div>
  <div class="pp-blog-details">
    <div class="context">
      {{post.content|safe}}
    </div>

    <div class="pp-tags">
      <div class="h6">Tags</div>
      <div id="Mytags{{post.sno}}" class="text-capitalize"></div>
      <script>
        var tags = '{{post.tags}}'
        tags = tags.split(',')
        Array.from(tags).forEach((tag) => {
          tag = tag.replace(' ', '')
          document.getElementById('Mytags{{post.sno}}').innerHTML += `<a class="badge badge-primary" href="#${tag}">${tag}</a>`
        })
      </script>

    </div>

    <div class="pp-comments" id="pp-comment">
      <div class="h2">Comments</div>
      <!-- Comments -->
      {% for comment in comments %}
      <div class="media">
        <img class="img-fluid mr-3 border rounded-circle" src="/static/images/user.png" alt="Image" />
        <div class="media-body">
          <div class="h5 mt-0">{{comment.first_name}} {{comment.last_name}}</div>
          <p class="text-muted">{{comment.timeStamp}}</p>
          <p>{{comment.content}}</p>
        </div>
        <a class="btn text-primary" data-toggle="collapse" href="#commentReply{{comment.sno}}" role="button"
          aria-expanded="false" aria-controls="commentReply{{comment.sno}}">
          <i class="fa fa-reply" aria-hidden="true"></i><span>Reply</span>
        </a>
      </div>

      <div class="repBox">
        <div class="collapse" id="commentReply{{comment.sno}}">
          <div class="card card-body border-0">
            <form action="/blog/comment" method="POST">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6 col-sm-12 mb-3">
                  <input class="mr-3 form-control" type="text" name="first_name" placeholder="*First Name" />
                </div>
                <input class="mr-3 form-control" type="hidden" name="postSno" value="{{post.sno}}" />
                <input class="mr-3 form-control" type="hidden" name="parentSno" value="{{comment.sno}}" />
                <div class="col-md-6 col-sm-12 mb-3">
                  <input class="form-control" type="text" name="last_name" placeholder="*Last Name" />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col">
                  <input class="form-control" type="email" name="email" placeholder="*E-mail" />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col">
                  <textarea class="form-control" name="message" placeholder="*Your Message"></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <button class="btn btn-primary" type="submit">Post Comment</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="comment-reply">

        {% for reply in replyDict|get_val:comment.sno %}
        <div class="media pl-5">
          <img class="img-fluid mr-3 border rounded" src="/static/images/reply.png" alt="Image">
          <div class="media-body">
            <div class="h5 mt-0 text-capitalize">{{reply.first_name}} {{reply.last_name}}</div>
            <p class="text-muted">{{reply.timeStamp}}</p>
            <p>{{reply.content}}</p>
          </div>
        </div>
        {% endfor %}

        {% endfor %}


      </div>
    </div>
    <div class="pp-section"></div>
    <div class="row" id="pp-drop-comment">
      <div class="col">
        <div class="h4 mb-3">Drop a Comment</div>
        <form action="/blog/comment" method="POST">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-6 col-sm-12 mb-3">
              <input class="mr-3 form-control" type="text" name="first_name" placeholder="*First Name" />
            </div>
            <input class="mr-3 form-control" type="hidden" name="postSno" value="{{post.sno}}" />
            <div class="col-md-6 col-sm-12 mb-3">
              <input class="form-control" type="text" name="last_name" placeholder="*Last Name" />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <input class="form-control" type="email" name="email" placeholder="*E-mail" />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <textarea class="form-control" name="message" placeholder="*Your Message"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button class="btn btn-primary" type="submit">Post Comment</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endblock body %}